<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>861CDF58-7459-4A7E-8A43-34A52860ED27</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>861CDF58-7459-4A7E-8A43-34A52860ED27</key>
			<dict>
				<key>items</key>
				<array>
					<string>CB21050A-1FE0-4689-A98D-382117AF262E</string>
					<string>8CB02273-A378-4F7A-BCB5-CE3334A8B43D</string>
					<string>------------------------------------</string>
					<string>A826EEDB-F666-4518-B09F-019A41DC1627</string>
					<string>4601B247-4F6D-4552-9214-339330B919CA</string>
					<string>4A0ABD8D-BEB8-44D2-9095-FF3903175C7B</string>
					<string>76D80C88-9D41-4DC5-B5A4-D080F277CC9B</string>
				</array>
				<key>name</key>
				<string>Attributes</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>HTML - JackBB</string>
	<key>ordering</key>
	<array>
		<string>8CB02273-A378-4F7A-BCB5-CE3334A8B43D</string>
		<string>CB21050A-1FE0-4689-A98D-382117AF262E</string>
		<string>4601B247-4F6D-4552-9214-339330B919CA</string>
		<string>4A0ABD8D-BEB8-44D2-9095-FF3903175C7B</string>
		<string>A826EEDB-F666-4518-B09F-019A41DC1627</string>
		<string>76D80C88-9D41-4DC5-B5A4-D080F277CC9B</string>
	</array>
	<key>uuid</key>
	<string>B8D9A069-F5B7-4879-BFFC-7BAA843AF60B</string>
</dict>
</plist>
